@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 293 50% 25%;
    --foreground: 48 100% 50%;
    --card: 293 64% 21%;
    --card-foreground: 48 100% 50%;
    --popover: 293 64% 18%;
    --popover-foreground: 48 100% 50%;
    --primary: 48 100% 50%;
    --primary-foreground: 293 64% 21%;
    --secondary: 293 50% 30%;
    --secondary-foreground: 48 100% 50%;
    --muted: 293 50% 30%;
    --muted-foreground: 48 90% 60%;
    --accent: 293 50% 35%;
    --accent-foreground: 48 100% 50%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 293 50% 30%;
    --input: 293 50% 30%;
    --ring: 48 100% 50%;
    --radius: 0.5rem;

    --sidebar-background: 293 64% 18%;
    --sidebar-foreground: 48 90% 60%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 293 50% 30%;
    --sidebar-accent-foreground: 48 100% 50%;
    --sidebar-border: 293 50% 30%;
    --sidebar-ring: 48 100% 50%;
  }

  .dark {
    --background: 293 50% 25%;
    --foreground: 48 100% 50%;
    --card: 293 64% 21%;
    --card-foreground: 48 100% 50%;
    --popover: 293 64% 18%;
    --popover-foreground: 48 100% 50%;
    --primary: 48 100% 50%;
    --primary-foreground: 293 64% 21%;
    --secondary: 293 50% 30%;
    --secondary-foreground: 48 100% 50%;
    --muted: 293 50% 30%;
    --muted-foreground: 48 90% 60%;
    --accent: 293 50% 35%;
    --accent-foreground: 48 100% 50%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 293 50% 30%;
    --input: 293 50% 30%;
    --ring: 48 100% 50%;

    --sidebar-background: 293 64% 18%;
    --sidebar-foreground: 48 90% 60%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 293 50% 30%;
    --sidebar-accent-foreground: 48 100% 50%;
    --sidebar-border: 293 50% 30%;
    --sidebar-ring: 48 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes scan {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(100% - 2px));
  }
}

.scanner-line {
  animation: scan 2.5s infinite alternate ease-in-out;
}
